<ul class="check-card">
	<li class="check-card-item">
		<input type="checkbox" id="check01" name="check" value="1">
		<label for="check01" class="radio"></label>
		<div class="check-card-bg"></div>
		<div class="check-card-body">
			<div class="check-card-toggle">
				<span></span>
				<span></span>
			</div>
			<div class="check-card-body-in">
				<h3 class="check-card-title">CARD ITEM 01</h3>
				<p class="check-card-description">
					Card item description
				</p>
			</div>
			<div class="check-card-cancel">CANCEL</div>
		</div>
	</li>
</ul>